.wrapper {
    width: 335px;
    padding: 20px 26 0px 8px;
    margin-left: -18px;
    overflow-y: scroll;
    height: calc(100vh - var(--default-layout-header-height));
    top: 0;
    position: sticky;
    top: var(--default-layout-header-height);
    overscroll-behavior: contain;
}
